body{
    margin: 0;
    background-color: #000;
}

* {
    box-sizing: border-box;

}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #c7c7c7;
    font-size: 32px;
    line-height: 48px;
}

.header-item {
    color: #c7c7c7;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 32px;
}





.section-one{
    height: 810px;
    border-bottom: 1px solid #484848;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.hero-content {
   width: 544px;
   height: 360px;
}
.header-and-sub-header{
    width: 544px;
    height: 244px;
}
.header-and-sub-header h4{
    font-size: 101px;
    font-weight: 400;
    line-height: 90.9px;
    text-align: left;
    color: #fff;
}
.header-and-sub-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
}
.action{
    width: 327px;
    height: 54px;
    gap: 16px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.button{
    width: 187px;
    height: 54px;
    border-radius: 100px;
    background: #D3E97A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manrope-uniquifier {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
.button-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color:#0A0A0A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 12px;
}
.link-icon{
    width: 54px;
    height: 54px;
    background-color: #222;
    border-radius: 100px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.solid{
    max-width: 1200px;
    height: 810px;
    border: 1px solid #484848;
}

.section-two{
    width: 1224px;
    height: 2418px;
}




.section-two{
    width: 1224px;
    height: 2418px;
    padding: 80px 0;
    border-bottom: 1px solid #484848;
}
.header-and-sub-header-two{
    width: 600px;
    height: 138px;
    gap: 8px;
    
}
.header-and-sub-header-two h4{
    font-size: 76px;
    font-weight: 400;
    line-height: 76px;
    text-align: left;
    color: #fff;
    margin: 0;
}
.header-and-sub-header-two p{
    font-family: "Manrope", serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: #fff;
}

.projects{
    width: 1224px;
    height: 2040px;
    gap: 120px;
    margin-top: 80px;
}
.project{
    width: 1224px;
    height: 600px;
    border-bottom: 1px;
    gap: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.project-card{
    width: 600px;
    height: 600px;
}
.card{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tag{
    width: 145px;
    height: 37px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
}
.tag p{
font-family: "Manrope", serif;
font-size: 14px;
font-weight: 500;
line-height: 21px;
color: #fff;
}
.card-image{
    width: 486px;
    height: 347px;
}

.project-content{
    width: 576px;
    height: 480px;
    gap: 48px;
}
.project-content2{
    width: 576px;
    height: 491px;
    gap: 48px;
}
.project-content3{
    width: 576px;
    height: 408px;
    gap: 48px;
}
.information{
    width: 576px;
    height: 402px;
    gap: 32px;
}
.information2{
    width: 576px;
    height: 415px;
    gap: 32px;
}
.information3{
    width: 576px;
    height: 330px;
    gap: 32px;
}
.title-and-description{
    width: 576px;
    height: 214px;
    gap: 16px;
}
.title-and-description2{
    width: 576px;
    height: 169px;
    gap: 16px;
}
.title-and-description3{
    width: 576px;
    height: 142px;
    gap: 16px;
}
.title{
font-family: "Manrope", serif;
font-size: 32px;
font-weight: 500;
line-height: 44.8px;
color: #fff;
}
.description{
    font-family: "Manrope", serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: #c7c7c7;
}
.project-info{
    width: 576px;
    height: 156px;
    gap: 16px;
}
.project-info2{
    width: 576px;
    height: 214px;
    gap: 16px;
}
.project-info3{
    width: 576px;
    height: 156px;
    gap: 16px;
}
.project-info p{
    color: #fff;
    font-family: "Manrope", serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}
.project-info2 p{
    color: #fff;
    font-family: "Manrope", serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}
.project-info3 p{
    color: #fff;
    font-family: "Manrope", serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}
.list{
    width: 576px;
    height: 116px;
    border-bottom: 1px solid #484848;
}
.list2{
    width: 576px;
    height: 174px;
    border-bottom: 1px solid #484848;
}
.list3{
    width: 576px;
    height: 116px;
    border-bottom: 1px solid #484848;
}
.client{
    width: 576px;
    height: 58px;
    border-top: 1px solid #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.year{
    width: 576px;
    height: 58px;
    border-top: 1px solid #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topic{
font-family: "Manrope", serif;
font-size: 16px;
font-weight: 500;
line-height: 25.6px;
color: #fff;
}
.value{
font-family: "Manrope", serif;
font-size: 16px;
font-weight: 500;
line-height: 25.6px;
color: #c7c7c7;
}
.role{
    width: 576px;
    height: 58px;
    border-top: 1px solid #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.View-projects{
    width: 284px;
    height: 30px;
    gap: 24px;
    display: flex;
    align-items: center;
}
.view-project{
    width: 111px;
    height: 28px;
    background-color: #000;
    border-bottom: 2px solid #D3E97A;
}
.view-project2{
    width: 143px;
    height: 28px;
    background-color: #000;
    border-bottom: 2px solid #D3E97A;
}
.title-and-arrow{
    width: 111px;
    height: 24px;
    gap: 4px;
    color: #D3E97A;
    display: flex;
    align-items: center;
}
.title-and-arrow p{
    font-family:"Manrope", serif;
    font-size: 16px ;
    line-height: 24px;
    font: 700;
    color: #D3E97A;
}
.view-project2{
    width: 149px;
    height: 30px;
    background-color: #000;
    border-bottom: 2px solid #D3E97A;
}
.title-and-arrow2{
    width: 149px;
    height: 26px;
    gap: 4px;
    color: #D3E97A;
    display: flex;
    align-items: center;
}
.title-and-arrow2 p{
    font-family:"Manrope", serif;
    font-size: 16px ;
    line-height: 24px;
    font: 700;
    color: #D3E97A;
} 
.line{
    height: 860px;
    width: 100%;
    border-bottom: 1px solid #484848;
}
.about-me{
    width: 1224px;
    display: flex;
    justify-content: space-between;
}
.about-title{
    width: 307px;
    height: 91px;
}
.about-title p{
font-size: 101px;
font-weight: 400;
line-height: 90.9px;
color: #fff;
}
.about-content{
    width: 704px;
    height: 241px;
    gap: 16px;
    margin-top: 122px;
}
.title-content{
font-family: "Manrope", serif;
font-size: 32px;
font-weight: 500;
line-height: 44.8px;
color: #fff;
}
.title-content-small{
font-family: "Manrope", serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: #c7c7c7;
}
.connect{
    width: 100%;
    height: 771px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-connect{
    width: 600px;
    height: 611px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-connect{
    width: 600px;
    height: 611px;
    gap: 48px;
}
.connect-title{
    width: 600px;
    height: 226px;
    gap: 40px;
}
.header-and-sub-header-3{
    width: 600px;
    height: 154px;
    gap: 16px;
}
.header-and-sub-header-3 h4{
    font-size: 76px;
    line-height: 76px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
.sub-header-3{
    width: 302px;
    height: 62px;
}
.sub-text{
    width: 302px;
    height: 27px;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.sub-text p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #c7c7c7;
    font-family: "Manrope", serif;;
}
.mail{
    width: 204px;
    height: 27px;
}
.mail p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.underline2{
    width: 204px;
    border: 1px solid #D3E97A;
}
.underline3{
    width: 63px;
    border: 1px solid #D3E97A;
}
.sub-text2{
    width: 260px;
    height: 27px;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.sub-text2 p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #c7c7c7;
    font-family: "Manrope", serif;;
}
.mail2{
    width: 63px;
    height: 27px;
}
.mail2 p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.social-icons{
    width: 200px;
    display: flex;
    gap: 24px;
}
.left-connect p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.gap-40{
    width: 600px;
    height: 611px;
    gap: 40px;
}
.connect-list{
    width: 600px;
    height: 517px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.name{
    width: 600px;
    height: 85px;
    gap: 8px;
}
.name p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.list-text{
    width: 600px;
    height: 51px;
    border-radius: 4px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
}
.list-text p{
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-family: "Manrope", serif;
    margin-left: 10px;
}



.email{
    width: 600px;
    height: 85px;
    gap: 8px;
}
.email p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.subject{
    width: 600px;
    height: 85px;
    gap: 8px;
}
.subject p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.message{
    width: 600px;
    height: 190px;
    gap: 8px;
}
.message p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
    color: #c7c7c7;
    font-family: "Manrope", serif;
    margin: 0;
}
.list-text-msg{
    width: 600px;
    height: 156px;
    border-radius: 4px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
}
.connect-button{
    width: 140px;
    height: 54px;
    border-radius: 100px;
    background-color: #D3E97A;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect-button p{
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #0a0a0a;
    font-family: "Manrope", serif;
}
