*{
    background-color: #000;
    box-sizing: border-box;
}
   
.container{
    width: 100%;
    padding-inline: 5%;
}


.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-family: "Bebas Neue", sans-serif;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #c7c7c7;
}
.nav-column{
    display: flex;
    gap: 32px;
}
@media(max-width: 600px) {
    .nav-column{
        display: none;
    }
}

.nav-text{
    font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #c7c7c7;
}
.nav-items{
    display: none;
}
@media(max-width: 600px) {
    .nav-items{
        display: block;
    }
}

.hero-container{
    display: flex;
    align-items: center;
}
@media(max-width: 600px) {
    .hero-container{
        flex-direction: column;
    }
}

.hero-content{
    width: 50%;
}
@media(max-width: 600px) {
    .hero-content{
        width: 100%;
    }
}
.heading-one{
font-family: "Bebas Neue", sans-serif;
font-size: 5rem;
font-weight: 400;
color: #fff;
}
.sub-header{
font-family: "Manrope", sans-serif;
font-size: 1rem;
font-weight: 400;
color: #c7c7c7;
}
 .image-container{
    width: 50%;
    margin-top: 64px;
 }
 @media(max-width: 600px) {
    .image-container{
        width: 100%;
    }
}
.line-1{
    border: 1px solid #484848;
    margin-top: 64px;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.project-container{
    gap: 120px;
}
.project-item{
    display: flex;
    align-items: center;
    gap: 48px;
}
@media(max-width: 600px) {
    .project-item{
        display: flex;
        flex-direction: column;
    }
}
.project-card{
    width: 50%;
    border-radius: 12px;
    background-color: #1a1a1a;
}
@media(max-width: 600px) {
    .project-card{
        width: 100%;
    }
}
.tag{
    width: 25%;
    background-color: #000;
    border-radius: 100px;
    margin: 8px 16px 8px 16px;
    padding: 8px;
    color: #fff;
    font-size: 10%;
    font-family:"Manrope", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image{
    margin: 10%;
}
.project-content{
    width: 50%;
}
@media(max-width: 600px) {
    .project-content{
        width: 100%;
    }
}
.information{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title{
font-family: "Manrope", sans-serif;
font-size: 2rem;
font-weight: 500;
color: #fff;
}
.description{
    font-family: "Manrope", sans-serif;
font-size: 1rem;
font-weight: 400;
color: #c7c7c7;
}
.project-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.info-text{
    color: #fff;
    font-size: 80%;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}
.LIST{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #484848;
    
}
.Year{
    border-top: 1px solid #484848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.Role{
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}
.topic{
    font-size: 80%;
    color: #fff;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}
.value{
    font-size: 80%;
    color: #fff;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}
.link-project{
    width: 50%;
    margin-top: 48px;
}
.about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 122px;
}
@media(max-width: 600px) {
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
.heading-two{
    width: 50%;
font-family: "Bebas Neue", sans-serif;
font-size: 5rem;
font-weight: 400;
color: #fff;
}
@media(max-width: 600px) {
    .heading-two{
        display: none;
    }
}
.title-description2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media(max-width: 600px) {
    .title-description2{
        width: 100%;
    }
}
.title2{
    font-family: "Manrope", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
@media(max-width: 600px) {
    .title2{
        display: none;
    }
}
.description2{
        font-family: "Manrope", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #c7c7c7;
}
@media(max-width: 600px) {
    .description2{
        width: 100%;
    }
}
.image-container2{
    display: none;
 }
 @media(max-width: 600px) {
    .image-container2{
        display: block;
        width: 100%;
        margin-top: 64px;
    }
}
.line-2{
    border: 1px solid #484848;
    margin-top: 497px;
}
.let-connect{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}